<form id="newPost-form" action="/submit" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="tittle" name="title"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br><br>
    <button id="newpost" type="submit" value="Submit">Post</button>
</form>

<script src="/js/newPost.js"></script>

